#genres{
  .genres{
    padding-top: 5rem;
    .up{
      display: flex;
      justify-content: space-between;
      a{
        align-items: flex-end;
        display: flex;
      }
    }
    .down{
      display: flex;
      justify-content: space-between;
      padding-top: 5rem;
    }
  }
}