#genres{
  .genres{
    padding-top: 5rem;
    .up{
      display: flex;
      justify-content: space-between;

      a{
        align-items: flex-end;
        display: flex;
      }
    }
    .down{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 5rem;
      img{
        margin: 10px 0;
      }
    }
    .down-mob{
      display: none;
    }
  }
}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
  #genres{
    .genres{
      a{
        padding: 10px;
        margin: 0;
      }
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  #genres{
    .genres{
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  #genres{
    .genres{
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}


@media (max-width: 475px) {
  #genres{
    .genres{
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #genres{
    .genres{
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 340px) {}

@media (max-width: 320px) {
  #genres{
    .genres{
      .down{
        display: none;
      }
      .down-mob{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
          border-radius: 5px;
        }
      }
    }
  }
}