#categories{
  .categories{
    padding: 10rem 0;
    .up{
      padding-bottom: 5rem;
      h1{
        padding-bottom: 1rem;
      }
    }
    .down{
      .content1{
        display: flex;
        justify-content: space-between;
        .cow{
          .xaxa{
            display: flex;
          }
          h4{
            font-size: 22px;
            font-weight: 600;
          }
          span{
            display: flex;
            align-items: flex-end;
            color: #818EEA;
            font-weight: 400;
            font-size: 14px;
            margin-left: 1rem;
            border-bottom: 1px solid #818EEA;
            cursor: pointer;
          }
        }
        .cow1{
          display: flex;
          padding: 10px 30px;
          border: 1px solid #818EEA;
          border-radius: 5px;
          h5{
            font-weight: 400;
            font-size: 13px;
            color: #818EEA;
          }
          select{
            border: none;
            color: #0d67be;
            outline: none;
          }
        }
      }
      .content3{
        display: flex;
        .left{
          .block{
            display: flex;
            padding: 10px 0;
            .real-radio:checked + .custom-radio::before{
              transform: translate(-50%, -50%) scale(1);
            }
            .real-radio{
              width: 0;
              height: 0;
              position: absolute;
              opacity: 0;
              z-index: -99;
            }
            .custom-radio{
              display: inline-block;
              position: relative;
              z-index: -1;
              width: 25px;
              height: 25px;
              background: white;
              border:2px solid #818EEA;
              border-radius: 50%;
              vertical-align: text-top;
              margin-right: 20px;
              &:before{
                content:"";
                width: 15px;
                height: 15px;
                background: #818EEA;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 0.2s ease-in;
              }
            }
            input{
              width: 25px;
              height: 25px;
              margin-right: 15px;
              cursor: pointer;
            }
            label{
              cursor: pointer;
              align-items: center;
              display: flex;
            }

            h5{
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
        .right{
          border: 2px solid #818EEA;
          width: 100%;
        }
      }
    }
  }
}