#footer {
  width: 100%;
  background: #818EEA;
  padding: 60px 0;


  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;

    &--sign-up {
      margin: 0 -30px;

      h5 {
        font-weight: 700;
        font-size: 30px;
        padding: 1.50px 0;
        color: #FFFFFF;
      }

      &__input {
        display: flex;
        align-items: center;
        position: relative;
        margin: 30px 0;
        width: 96%;

        input {
          width: 96%;
          height: 40px;
          color: #fff;
          padding: 0 10px;
          border: 0.5px solid #FFFFFF;
          border-radius: 8px;
          background: transparent;
          outline: none;
        }

        ::placeholder {
          color: #e0d9d9;
        }

        &--exit {
          position: absolute;
          top: -10px;
          left: 75%;
          font-weight: 500;
          font-size: 20px;
          color: #fff;
        }

      }

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #fff;
      }

      p {
        font-size: 18px;
        line-height: 16px;
        display: flex;
        align-items: center;
        padding: 22px 0;
        color: #FFFFFF;
      }
    }

    &--contact {
      display: flex;
      flex-direction: column;
      padding: 6px 0;

      h5 {
        font-weight: 600;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
        padding: 0 0 0  -10px;
        //letter-spacing: -0.4px;
      }

      &__ema-group {
        display: flex;
        flex-direction: column;
        padding: 9px 0;

        &--phone {
          display: flex;
          align-items: center;
          color: #FFFFFF;
          font-size: 19px;

          &__tel {
            border-radius: 50%;
            background: #000;
            font-size: 33px;
            padding: 7px 7px;
            margin: 0 10px;

          }
        }


        &--email {
          color: #FFFFFF;
          padding:  10px 0;
          display: flex;
          align-items: center;
          font-size: 21px;

          &__gmail {
            border-radius: 50%;
            background: #000;
            font-size: 33px;
            padding: 7px 7px;
            margin: 0 10px;
          }
        }
      }

      &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        &--instagram {
          margin: 0 15px;
          background: #fff;
          border-radius: 30%;
          width: 35px;
          height: 35px;
          font-weight: 400;
          font-size: 35px;
          text-align: center;
          color: #c92626;

          &__icon {
            padding-bottom: 40px;
          }
        }

        &--facebook {
          font-weight: 400;
          font-size: 40px;
          color: #073fa4;
          margin: 0 21%;
          border-radius: 50%;
          background: #FFFFFF;
          width: 40px;
          height: 40px;

          &__icon {
            padding-bottom: 37px;
          }
        }


        &--twitter {

          &__icon {
            padding: 5px 5px;
          }
          margin: 0 10px;
          background: #0d67be;
          border-radius: 50%;
          width: 45px;
          text-align: center;
          height: 45px;
          font-weight: 400;
          font-size: 33px;
          color: #fff;
        }
      }

    }

    &--address {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1px 0;


      h2 {
        font-weight: 600;
        font-size: 22px;
        font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        padding: 10px 0;
        //letter-spacing: -0.4px;
      }

      p {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        padding: 10px 0;
      }

      &__map {
        padding: 18px 0;
        font-weight: 550;
        font-size: 21px;
        color: #FFFFFF;

        &__location {
          font-size: 30px;
        }
      }


    }

  }

}

@media (max-width: 1600px) {
  #footer {
    .burger-menu {
      display: none;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media (max-width: 1100px) {
  #footer {
    .footer {
      display: flex;
      flex-wrap: wrap;

      &--sign-up {
        width: 40%;

        h5 {
          font-size: 26px;
        }

        &__input {
          display: flex;
          align-items: center;
          position: relative;
          margin: 30px 0;
          width: 89%;

          input {
            width: 85%;
            height: 40px;
            padding: 0 10px;
          }


          &--exit {
            position: absolute;
            //top: 10px;
            left: 70%;
            font-weight: 500;
            font-size: 20px;
            color: #fff;
          }

        }

      }

      &--address {

        padding: 4px 0;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 18px;
        }

        &__map {
          font-size: 18px;
          padding: 25px 0;
        }


      }

      &--contact {

        h5 {

        }

        &__ema-group {
          display: flex;
          flex-direction: column;
          padding: 6px 0;

          &--phone {
            padding: 7px 10px;
            font-size: 17px;
          }

          &--email {
            padding: 8px 12px;
            font-size: 17px;
          }
        }


        &__social {

          &--instagram {
            border-radius: 30%;
            width: 28px;
            height: 28px;
            font-size: 28px;
          }

          &--facebook {
            font-size: 30px;
            border-radius: 50%;
            background: #FFFFFF;
            width: 30px;
            height: 30px;
          }

          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 1px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            font-size: 26px;
          }

        }

      }
    }


  }
}

@media (max-width: 1024px) {
  #footer {
    .footer {

      &--sign-up {
        width: 40%;

        h5 {
          font-size: 24px;
        }

        &__input {
          margin: 30px 0;
          width: 89%;

          input {
            width: 85%;
            height: 40px;
            padding: 0 10px;
          }


          &--exit {
            left: 67%;
            font-size: 20px;
          }

        }

      }

      &--address {

        padding: 4px 0;
        margin: 0 -20px;

        h2 {
          font-size: 18px;
        }

        p {
          font-size: 18px;
        }

        &__map {
          padding: 20px 0;
          font-size: 16px;
        }


      }

      &--contact {

        h5 {
          font-size: 18px;
        }

        &__ema-group {
          display: flex;
          flex-direction: column;
          padding: 6px 0;

          &--phone {
            padding: 7px 10px;
            font-size: 17px;
          }

          &--email {
            padding: 8px 10px;
            font-size: 17px;
          }
        }


        &__social {

          &--instagram {
            //width: 28px;
            //height: 28px;
            font-size: 28px;
          }

          &--facebook {
            font-size: 30px;
            color: #073fa4;
            margin: 0 50px;
            width: 30px;
            height: 30px;
          }


          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 10px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            font-size: 26px;
          }

        }

      }
    }
    .burger-menu {
      display: block;

    }
  }
}

@media (max-width: 992px) {
  #footer {
    .footer {

      &--sign-up {
        width: 40%;


        &__input {
          margin: 30px 0;
          width: 85%;

          input {
            width: 85%;
            height: 40px;
            padding: 0 10px;
          }


          &--exit {
            left: 67%;
            font-size: 20px;
            padding-bottom: 30px;
          }

        }

      }

      &--address {

        padding: 1px 0;
        margin: 0 -20px;


        p {
          padding: 4px 0;
          font-size: 18px;
        }

        &__map {
          padding: 15px 0;
          font-size: 16px;
        }


      }

      &--contact {

        h5 {
          font-size: 18px;
        }

        &__ema-group {
          display: flex;
          flex-direction: column;
          padding: 6px 0;

          &--phone {
            padding: 7px 10px;
            font-size: 17px;
          }

          &--email {
            padding: 8px 10px;
            font-size: 17px;
          }
        }


        &__social {

          &--instagram {
            //width: 28px;
            //height: 28px;
            font-size: 28px;
          }

          &--facebook {
            font-size: 30px;
            color: #073fa4;
            margin: 0 50px;
            width: 30px;
            height: 30px;
          }


          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 10px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            font-size: 26px;
          }

        }

      }
    }
    .burger-menu {
      display: block;

    }
  }
}

@media (max-width: 769px) {
  #footer {
    .footer {

      &--sign-up {
        width: 40%;

        h5 {
          font-size: 24px;
        }

        &__input {
          margin: 30px 0;
          width: 89%;

          input {
            width: 75%;
            height: 40px;
            padding: 0 10px;
          }


          &--exit {
            position: absolute;
            //top: 5px;
            left: 50%;
            font-size: 10px;
          }

        }

      }

      &--address {


        h2 {
          font-size: 16px;
        }

        p {
          font-size: 16px;
        }

        &__map {
          padding: 20px 0;
          font-size: 15px;
        }
      }

      &--contact {

        h5 {
          font-size: 17px;
        }

        &__ema-group {
          padding: 6px 0;

          &--phone {
            padding: 7px 40px;
            font-size: 16px;
          }

          &--email {
            padding: 8px 0;
            font-size: 15px;
          }
        }


        &__social {

          &--instagram {
            border-radius: 30%;
            width: 28px;
            height: 28px;
            font-size: 28px;
          }

          &--facebook {
            font-size: 30px;
            margin: 0 20%;
            width: 30px;
            height: 30px;
          }


          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 10px;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            font-size: 24px;
          }

        }

      }
    }
  }
}

@media (max-width: 770px) {
  #footer {
    .footer {
      display: flex;
      flex-wrap: wrap;

      &--sign-up {
        h5 {
          font-size: 19px;
          margin: 0 6px;
        }

        &__input {
          display: flex;
          align-items: center;
          position: relative;
          margin: 30px 6px;

          input {
            width: 85%;
            height: 40px;
            padding: 0 10px;
          }


          &--exit {
            position: absolute;
            //top: 10px;
            left: 70%;
            font-size: 20px;
          }

        }

      }

      &--address {
        h2 {
          font-weight: 500;
          font-size: 16px;
        }

        p {
          font-size: 13px;
          padding: 10px 0;
        }

        &__map {
          padding: 8px 0;
          font-size: 14px;

          &--location {
            display: none
          }
        }
      }

      &--contact {

        h5 {
          font-size: 16px;
          padding: 0 0 0  -10px;
        }

        &__ema-group {
          display: flex;
          flex-direction: column;
          padding: 6px 0;

          &--phone {
            padding: 7px 15px;
            font-size: 14px;
          }

          &--email {
            padding: 8px 0;
            font-size: 14px;
            letter-spacing: 0.2px;
          }
        }


        &__social {

          &--instagram {
            border-radius: 30%;
            width: 24px;
            height: 24px;
            font-size: 24px;
          }

          &--facebook {
            font-size: 28px;
            color: #073fa4;
            border-radius: 50%;
            background: #FFFFFF;
            width: 28px;
            height: 28px;
          }


          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 10px;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            font-size: 22px;
          }

        }

      }
    }
  }
}

@media (max-width: 600px) {
  #footer {
    .footer {
      &--sign-up {
        h5 {
          font-size: 15px;
        }

        &__input {
          display: flex;
          align-items: center;
          position: relative;
          margin: 30px 6px;

          input {
            width: 80%;
            height: 40px;
            color: #fff;
            padding: 0 10px;
            border: 0.5px solid #FFFFFF;
            border-radius: 8px;
            background: transparent;
            outline: none;
          }


          &--exit {
            position: absolute;
            //top: 10px;
            left: 60%;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
          }

        }

      }

      &--address {
        h2 {
          font-size: 18px;
          //letter-spacing: -0.4px;
        }

        p {
          font-size: 16px;
          padding: 10px 0;
        }

        &__map {
          display: flex;
          align-items: center;
          padding: 8px 0;
          font-size: 16px;
          color: #FFFFFF;

          &--location {
            display: block;
          }
        }
      }

      &--contact {

        h5 {
          font-size: 17px;
          padding: 0 0 0  -10px;
        }

        &__ema-group {
          display: flex;
          flex-direction: column;
          padding: 6px 0;

          &--phone {
            padding: 7px 15px;
            font-size: 15px;
          }

          &--email {
            padding: 8px 0;
            font-size: 15px;
            letter-spacing: 0.2px;
          }
        }


        &__social {

          &--instagram {
            border-radius: 30%;
            width: 25px;
            height: 25px;
            font-size: 25px;
          }

          &--facebook {
            font-size: 29px;
            color: #073fa4;
            border-radius: 50%;
            background: #FFFFFF;
            width: 29px;
            height: 29px;
          }


          &--twitter {

            &__icon {
              padding: 5px 1px;
            }

            margin: 0 10px;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            font-size: 22px;
          }

        }

      }
    }
  }
}