#newBooks{
  .newBooks{
    display: flex;
    justify-content:center;
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {
#newBooks{
  .newBooks{
    display: none;
  }
}
}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}

